.recruiter-home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Example background color */
    overflow: hidden; /* Remove scrolling */
}

.recruiter-dashboard-container {
    background: transparent;
    padding: 0; /* Remove padding */
    width: 100%;
    height: calc(100vh - 50px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recruiter-dashboard-embed {
    width: 90%; /* Adjust width as needed */
    height: 90vh; /* Adjust height to remove scrolling */
}
