/* App.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remove scrolling */
}

.app-container {
    background-image: url('./images/-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.ant-layout-sider {
    background-color: #ffffff;
}

.ant-menu {
    background-color: #ffffff;
    color: #000000;
}

.ant-menu-item {
    font-size: 16px;
    padding: 10px 24px;
}

.ant-menu-item a {
    color: #000000;
}

.ant-menu-item-selected {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.ant-menu-item-selected a {
    color: #ffffff !important;
}

.ant-menu-item:hover {
    background-color: #f0f2f5;
    transition: background-color 0.3s ease;
}

.ant-menu-item:hover a {
    color: #000000;
}

.ant-menu-item-danger a {
    color: #ff4d4f;
}

.ant-menu-item-danger:hover {
    background-color: #ff4d4f;
    transition: background-color 0.3s ease;
}

.ant-menu-item-danger:hover a {
    color: #ffffff;
}

.ant-layout {
    overflow-y: hidden;
}

.ant-layout-content {
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remove scrolling */
    background: transparent; /* Make background transparent */
}

.ant-layout-header {
    display: none; /* Hide the header if not needed */
}

.toggle-button {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000;
    background-color: #000000;
    color: #ffffff;
}

.report-style-class {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
}